@CHARSET "UTF-8";

.navbar-btn {
    margin-left: 4px;
    margin-right: 4px;
}

.container .text-muted {
margin: 13px 0;
}

.centered-form {
    margin-top: 60px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.panel {
    border: 0;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

.borderless li {
    border: none;
}
